/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    !*background-image: linear-gradient(-225deg, #3498db 0, #9b59b6 29%, #e74c3c 67%, #f1c40f 100%);*!*/
/*    !*background-image: linear-gradient(-225deg, #0c040d 0, #f4eded 29%, #581662 67%, #9d23b0 100%);*!*/
/*    !*background-image: linear-gradient(-225deg, #7b1c8b 0, #f4eded 29%, #430f4d 67%, #9d23b0 100%);*!*/
/*    background-image: linear-gradient(-225deg, #7b1c8b 0, #f4eded 29%, #430f4d 67%, #9d23b0 100%);*/
/*    opacity: 0.9;*/
/*    background-size: 500% 500%;*/
/*    animation: bg 8s linear infinite;*/
/*    color: white;*/
/*}*/


/*@keyframes bg {*/
/*    50% {*/
/*        background-position: 100% 100%;*/
/*    }*/
/*}*/

body {
    font-family: 'JetBrains Mono', Arial, sans-serif;
    /*background-image: linear-gradient(-225deg, #0c040d 0%, #430f4d 29%, #581662 67%, #320c38 100%);*/
    background-image: linear-gradient(-225deg, #200826 0%, #8A24A6 29%, #5F1973 67%, #350E40 100%, #0D0D0D 12%);
    opacity: 0.9;
    background-size: 200% 200%; /* Smaller size for a more pronounced animation effect */
    animation: bg 8s linear infinite alternate; /* Alternate animation direction for variety */
    color: white;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMonoNerdFont-Regular.ttf') format('truetype'); /* Specify the path to the font file */
    font-weight: normal;
    font-style: normal;
}


/* Styling for the navigation bar */
#navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    position: relative;
}

#cole {
    color: white;
    font-size: 29px;
    font-weight:700
}
#leavitt {
    color: #DD68FF;
    font-size: 29px;
    font-weight:700
}

#resEduc .name {
    color: white; /* Set the color for "Cole" to white */
}

#resEduc .name span {
    color: magenta; /* Set the color for "Leavitt" to magenta */
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #2b72fb;
}

/* Styling for the content sections */
#about {
    margin: 15px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
#about p {
    font-size: 1.125rem;
    --text-opacity: 1;
    color: rgba(209,213,220,var(--text-opacity));
    margin-bottom: 1.5rem;
    font-weight: inherit;
    /*margin-bottom: 30px;*/
}

#additional-content {
    background-size: cover;
    padding: 50px 0;
    text-align: center;
}

#additional-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

#additional-content .content-image {
    max-width: 80%;
    margin: -30px auto 0;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#additional-content p {
    font-size: 1.125rem;
    margin-bottom: 30px;
}

/* Styling for the footer */
footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.github-link {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url(resources/github_logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 1.5;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 20px auto 0;
}
